body {
    margin: 0px;
    padding: 0px;
    background-color: #2e3436;
    color: #f2f2f2;
    font-family: 'Droid Sans', Verdana, sans-serif;
}

#header {
    display: block;
}

.logo {
    display: inline-block;
}

.navi {
    display: inline-block;
}

.navi ul {
    padding-left: 80px;
    padding-right: 80px;
    list-style-type: none;
}

.navi ul li {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
}

.navi ul li a{
    text-transform: uppercase;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 24px;
    padding-top: 3px;
}

.navi ul li#current a#home {
    border-top: 2px solid #fcb83e;
}

.navi ul li#current a#resume {
    border-top: 2px solid #d761db;
}

.navi ul li#current a#about {
    border-top: 2px solid #3ee6d7;
}

.navi ul li a:hover {
    color: #d2d2d2;
}

.navi ul li a#home:hover {
    border-top: 2px solid #fcb83e;
}

.navi ul li a#resume:hover {
    border-top: 2px solid #d761db;
}

.navi ul li a#about:hover {
    border-top: 2px solid #3ee6d7;
}

.contact {
    display: inline-block;
}

.contact a {
    color: #fcb83e;
    text-decoration: none;
}

.contact a:hover {
    color: #3ee6d7;
}



#content {
    display: block;
    padding: 0px;
    margin: 0px;
}

.tile {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    min-width: 300px;
    height: 300px;
    background-color: red;
}

.tile-orange {
    background-color: #fcb83e;
}

.tile-purple {
    background-color: #d761db;
}

.tile-aqua {
    background-color: #3ee6d7;
}



#footer {
    padding: 15px;
    font-size: 14px;
}
